.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #1c1c1c;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 50px;
  height: auto;
  border-radius: 25px;
}

.nome-funeraria {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #ca1a1a;
}

.login-btn {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 0.95rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
  background-color: #ffffff;
  color: #1c1c1c;
  transform: scale(1.05);
}

.signup-btn {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  border: 1px solid #17e432;
  background-color: transparent;
  color: #17e432;
  font-weight: 500;
  font-size: 0.95rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.signup-btn:hover {
  background-color: #17e432;
  color: #1c1c1c;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .header-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .nav {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .nav a {
    margin-left: 0;
    font-size: 1rem;
  }

  .login-btn,
  .signup-btn {
    width: 100%;
    text-align: center;
    padding: 0.6rem;
  }
  
}
